<section>
  <div class="container">
      <div class="page-not-found-title text-center">
          <div>
            <img src="../../../../assets/images/logos/brand-logo-2.svg" alt="">
            <div class="content">
              <h3>Oops! something is fishing.</h3>
              <p>The page you are looking for doesn’t exist or another error occurred</p>
            </div>
            <div class="btn-group">
                <a class="go-home" routerLink="/home" >Go Home</a>
                <a class="send-mail" href="mailto:">Send Mail</a>
            </div>
          </div>
      </div>
  </div>
</section>
