<section class="about-us">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center section-1 ">
      <div class="col">
        <div class="business-card">
          <p class="caption">Get To Know About Us</p>
          <h1>
            Best wey to boost <br> your business
          </h1>
          <p class="">
            Online solutions that have the ability to scale and adapt to changing user demands can become more successful.
          </p>
          <div class="d-flex btn-group">
            <button class="read-more-btn">Read More</button>
             <button class="contact-now-btn" routerLink="contact-us">Contact Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <img
            src="../../../../../assets/images/about-us/about-home-img.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center section-2">
      <div class="col">
        <div>
          <img
            src="../../../../../assets/images/about-us/about-home-img2.svg"
            alt=""
          />
        </div>
      </div>
      <div class="col">
        <div class="success-story-card">
          <p class="caption">About Us</p>
          <h2>
            The story behind <br>
            our success story
          </h2>
          <p class="success-story">
            Welcome to Abilio, where we excel in delivering comprehensive training, research, and development while facilitating successful placements in the intricate domains of Information Technology. Our tailored curriculum, led by experienced mentors and supported by extensive industry connections, guarantees that our students realize their career aspirations. Additionally, boasting proficiency in cutting-edge technologies, we stand ready to provide swift and effective solutions for all your IT requirements.
            Regardless of whether you are an individual seeking professional growth or a business striving for technological advancements, join us to embark on a transformative journey and achieve remarkable milestones.
          </p>

          <div class="d-flex ranking-logos">
            <img src="../../../../../assets/images/about-us/staring-logo-1.svg" alt="" class="logo-1">
            <img src="../../../../../assets/images/about-us/staring-logo-1.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
