<section class="success-story">
  <!-- banner section -->
  <div class="container">
    <div class="d-flex">
      <div class="col success-stroy-lft">
        <div class="success-img">
          <div class="m-4">
            <img src="../../assets/images/web-icons/building.svg" alt="" class="w-25 h-25">
            <p class="text-center">5+ <br>Years Excellence</p>
          </div>
        </div>
        <img src="../../assets/images/card-img/section2-img.svg" alt="" class="banner-img">
        <div class="success-img-2">
          <div class="my-3 d-flex justify-content-evenly">
            <div>
              <img src="../../assets/images/web-icons/admin.svg" alt="" >
            <p class="text-center">30+ <br>Experts</p>
            </div>
            <div>
              <img src="../../assets/images/web-icons/client.svg" alt="" >
            <p class="text-center">80+ <br>Happy Clients</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col success-stroy-rht">
        <div class="success-story-content">
          <h1>The story behind
            our success story</h1>
          <div>
            <p>Welcome to Abilio, where we excel in delivering comprehensive training, research, and development while facilitating successful placements in the intricate domains of Information Technology. Our tailored curriculum, led by experienced mentors and supported by extensive industry connections, guarantees that our students realize their career aspirations. Additionally, boasting proficiency in cutting-edge technologies, we stand ready to provide swift and effective solutions for all your IT requirements.
              Regardless of whether you are an individual seeking professional growth or a business striving for technological advancements, join us to embark on a transformative journey and achieve remarkable milestones.</p>
          </div>
          <div class="btn-group">
            <a class="common-btn-1" routerLink="about-us">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
