<section>
  <div class="container">
    <div class="career-banner">
      <div class="d-flex justify-content-between align-items-center">
        <div class="col">
          <div class="career-card">
            <h1>Join our team at Abilio Space</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,
            </p>
            <div class="join-us-item">
              <button class="join-us-btn"  (click)="scrollToElement()">Join with us</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="img-right d-flex">
            <div
              class="d-flex flex-column justify-content-between me-auto align-items-center"
            >
              <img
                src="../../../../assets/images/careers/top.svg"
                alt=""
                class="img-top"
              />
              <img
                src="../../../../assets/images/careers/down.svg"
                alt=""
                class="img-bottom"
              />
            </div>
            <div>
              <img
                src="../../../../assets/images/careers/right.svg"
                alt=""
                class="img-right"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="" id="work-with-us">
      <div class="work-with-us">
        <h1>The perks of working with us</h1>
        <p>
          We are looking for talented people who share our passion for crafting
          exceptional software products. That person might be you.
        </p>
      </div>
      <div class="row row-cols-3 text-center">
        <div class="col Remote">
          <div class="">
            <img
              src="../../../../assets/images/careers/web-icons/desktop.svg"
              alt=""
            />
            <h4>Remote &  <br>  Office Sitting</h4>
          </div>
        </div>
        <div class="col Flexible-Work">
          <div class="">
            <img
              src="../../../../assets/images/careers/web-icons/time.svg"
              alt=""
            />
            <h4>Flexible Work <br>
              hours</h4>
          </div>
        </div>
        <div class="col Paid-Health">
          <div class="">
            <img
              src="../../../../assets/images/careers/web-icons/health.svg"
              alt=""
            />
            <h4>Paid Health <br>Insurance</h4>
          </div>
        </div>
        <div class="col Uncapped-Paid">
          <div class="">
            <img
              src="../../../../assets/images/careers/web-icons/work.svg"
              alt=""
            />
            <h4>Uncapped <br> Paid Time Off</h4>
          </div>
        </div>
        <div class="col Team-Retreats">
          <div class="">
            <img
              src="../../../../assets/images/careers/web-icons/team.svg"
              alt=""
            />
            <h4>Team Retreats <br> & Events</h4>
          </div>
        </div>
        <div class="col Career-growth">
          <div class="">
            <img
              src="../../../../assets/images/careers/web-icons/growth.svg"
              alt=""
            />
            <h4>Career growth</h4>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>
<app-positions></app-positions>
