<section class="proud-moment">
  <div class="container proud-moment-container">
    <div class="text-center proud-moment-card">
      <h1 class="proud-moment-titel py-3">We are proud the moment</h1>
      <p class="proud-moment-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit et ut massa
        libero egestas malesuada viverra gravida libero cursus nulla leo.
      </p>
    </div>
    <div class="proud-moment-funfact">
      <div class="row justify-content-center text-center">
        <div class="col col-md col-6 col-sm-3">
            <div class="funfact ">
                <img src="../../../assets/images/web-icons/completed-projects.svg" alt="">
                <div>
                  <h3><span [countUp]="50" [options]="{ enableScrollSpy: true , duration:6, useEasing:true}" >00</span>+</h3>
                  <p >Completed Projects</p>
                </div>
            </div>
        </div>
        <div class="col col-md col-6 col-sm-3">
            <div class="funfact">
                <img src="../../../assets/images/web-icons/going-projects.svg" alt="">
                <div>
                  <h3><span [countUp]="30" [options]="{ enableScrollSpy: true, duration:6}">00</span>+</h3>
                <p>On Going Projects</p>
                </div>
            </div>
        </div>
        <div class="col col-md col-6 col-sm-3">
            <div class="funfact">
              <img src="../../../assets/images/web-icons/happy-clients.svg" alt="">
                <div>
                  <h3><span [countUp]="80" [options]="{ enableScrollSpy: true, duration:6 }">00</span>+</h3>
                <p>Happy Clients</p>
                </div>
            </div>
        </div>
        <div class="col col-md col-6 col-sm-3">
            <div class="funfact">
              <img src="../../../assets/images/web-icons/products.svg" alt="">
                <div>
                  <h3><span [countUp]="10" [options]="{ enableScrollSpy: true, duration:4 }">00</span>KL+</h3>
                <p>Products</p>
                </div>
            </div>
        </div>

    </div>
    </div>
  </div>




</section>
