// .brandlogo1{
//   width: 260px !important;
//   height: 50px;
//   padding: 2px 0;
// }
// .logo2{
//   display: none;
// }
// // ul li a{
// //     background-color: #23BBFC;
// //     padding:4px 15px !important;
// //     border-radius: 10px;
// //     margin-top:-5px ;
// //     color: #fff !important;
// // }
// .navbar{
//   padding: 0px !important;
//   background-color: #fff !important;
// }
// ul img{
//   width: 50px;
//   height: 24px;
//   vertical-align: middle;
// }
// .li{
//   border-radius: 3px;
//   border: 1px solid #23BBFC;
//   padding-right: 20px;
//   display: flex;
//   position: relative;
//   right: 60px;
//   padding-right: 25px;
//   padding-top: 4px;
//   position: relative;
//   right: 10px;
// }
// .li img{
//   padding-left: 4px;
// }
// @media all and (min-width: 992px) {
// .navbar .nav-item .dropdown-menu{ display: none; }
// // .navbar .nav-item:hover .nav-link{   }
// .navbar .nav-item:hover .dropdown-menu{ display: block; }
// .navbar .nav-item .dropdown-menu{ margin-top:0; }
// }

// .dropdown-toggle::after{
//   display: none;
// }
// .dropdown-menu {
//   text-align: start;
//   // margin-top: 25px !important;

// }
// .dropdown-menu li{
//   padding: 5px 15px;
//   line-height: none;
// }
// .dropdown-menu li:hover a{
//   color:     #23BBFC  !important;
// }
// .dropdown-menu li a{
//  font-size: 13px;
//  color: #0e2b5c;
//  text-decoration: none;
//  display: block;
// }
// .nav-item{
//   position: relative;
//   margin-right: 5px;
//   padding: 28px 30px 28px 15px !important;
// }
// .nav__item.has-dropdown > .dropdown-menu{
//   position: absolute;
//   left: 0;
//   right: auto;

// }
// /* Responsive layout - makes a one column-layout instead of two-column layout */
// @media (max-width: 1199px){
//   .brandlogo1{
//       width: 250px !important;
//       max-width: 50%;
//       height: 7vh;
//   }
//   .navbar-light .navbar-nav .nav-item{
//       padding:15px 10px !important
//   }
// }
// @media (min-width: 1024) and (max-width:1100){
//   .brandlogo1{
//       width: 250px !important;
//       max-width: 50%;
//       height: 70px;
//   }
// }

// @media (min-width: 768px) and (max-width: 991px) {
//   .navbar{
//       // padding: 0.5rem;
//       background-color: #f8f9fa!important;
//   }
//   .logo1{
//       display: none;
//   }
//   .logo2{
//       display: block;
//       width: 170px;
//       padding: 10px;
//   }

// }

// @media (max-width: 1024px){
//   .navbar-expand-lg{
//       padding: 0px !important;
//       // background-color: #f8f9fa!important;
//       background-color: #fff !important;
//       z-index: 1000;

//   }
//   .navbar-light .navbar-nav .nav-item{
//       padding-right: 10px !important;
//       padding-left: 12px !important;
//       text-align: center;
//   }
//   .navbar-.navbar-light .navbar-nav .nav-item  {
//       padding-right: 20px !important;
// }
// .navbar-light .navbar-nav .nav-item .nav-link {
//     font-size: 13px !important;
//     display: block;
// }
// .li{
//   position: relative;
//   right: 10px;

// }

// }
// @media (max-width:768px){
//   .li{
//       display: none;
//   }
// }

// .imgStyle{
//   border-radius: 3px;
//   display: flex;
//   right: 60px;
//   padding-right: 25px;
//   padding-top: 4px;
//   position: relative;
//   right: 10px;
//   border-radius: 25%;
//   width: 3%;
// }


// .tooltip {
//   position: relative;
//   display: inline-block;
//   border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
// }

// /* Tooltip text */
// .tooltip .tooltiptext {
//   visibility: hidden;
//   width: 120px;
//   background-color: black;
//   color: #fff;
//   text-align: center;
//   padding: 5px 0;
//   border-radius: 6px;

//   /* Position the tooltip text - see examples below! */
//   position: absolute;
//   z-index: 1;
// }

// /* Show the tooltip text when you mouse over the tooltip container */
// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }
