<section class="mission-vision-section">
  <div class="container">
    <div class="mission-vision-card">
      <div class="mission-vision-titel">
        <p>Our Mission & Vision</p>
        <h2>
          Revolutionize business <br />
          operations through unique technology
        </h2>
      </div>
      <div class="technology-card">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-2 justify-content-center row-borders"
          *ngFor="let item of WorkProcess; let i = index"
        >
          <div class="col-lg-4">
            <div class="single-box">
              <div class="d-flex">
                <div class="hover-icon">
                  <img src="{{ item.col1.img }}" alt="" />
                </div>
                <div>
                  <h5 class="hover-color2">{{ item.col1.title }}</h5>
                  <p>{{ item.col1.content }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-box">
              <div class="d-flex">
                <div class="hover-icon">
                  <img src="{{ item.col2.img }}" alt="" />
                </div>
                <div>
                  <h5 class="hover-color2">{{ item.col2.title }}</h5>
                  <p>{{ item.col2.content }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-box">
              <div class="d-flex">
                <div class="hover-icon">
                  <img src="{{ item.col3.img }}" alt="" />
                </div>
                <div>
                  <h5 class="hover-color2">{{ item.col3.title }}</h5>
                  <p>{{ item.col3.content }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="goals">
    <div class="container">
      <div class="tanks">
        <h2 class="titel">Our Mission</h2>
        <p>Our mission is to provide comprehensive education and development programs in the field of Information Technology, empowering individuals with the knowledge and skills they need to succeed in the workforce. We believe in equipping people with the tools to thrive, so we offer industry-focused training, research modules, and personalized guidance. With our extensive networking opportunities, we help individuals enter and progress in the industry with confidence and success.</p>
      </div>
    </div>
  </div> -->
</section>
<div class="goals-1">
  <div class="container">
    <div class="tanks">
      <h2 class="titel">Our Mission</h2>
      <p>Our mission is to provide comprehensive education and development programs in the field of Information Technology, empowering individuals with the knowledge and skills they need to succeed in the workforce. We believe in equipping people with the tools to thrive, so we offer industry-focused training, research modules, and personalized guidance. With our extensive networking opportunities, we help individuals enter and progress in the industry with confidence and success.</p>
    </div>
  </div>
</div>
<div class="space"></div>
<div class="goals-2">
  <div class="container">
    <div class="tanks-2">
      <h2 class="titel">Our Mission</h2>
      <p>Our mission is to provide comprehensive education and development programs in the field of Information Technology, empowering individuals with the knowledge and skills they need to succeed in the workforce. We believe in equipping people with the tools to thrive, so we offer industry-focused training, research modules, and personalized guidance. With our extensive networking opportunities, we help individuals enter and progress in the industry with confidence and success.</p>
    </div>
  </div>
</div>
<div class="space"></div>
