
.blog-section{
  padding: 150px 0 ;
  .blog-title{
    border-bottom: 1px solid #A1ACCD;
    padding-bottom:55px ;
  p{
    color: #A1ACCD;
    width: 756px;
    margin: auto !important;
    text-align: center
    !important;
    padding: 20px 0;
  }
  }
}
.Photo-blog{
  padding: 63px 0;
  .title {
    margin-bottom: 2rem;
  }
  .photo-gallery {
    display: flex;
    gap: 20px;
  }
  .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .photo {
    margin-bottom: 40;
    a {
      width: 100%;
      object-fit: cover;
      height: 100%;
      display: inline-block;
      img{
        width: 100%;
      border-radius: 5px;
      // height: 100%;
      }
      h4{
        margin: 20px 0 10px;
      }
    }
  }
  @media(max-width: 768px){
    .photo-gallery {
      flex-direction: column;
    }
  }
}




