<footer>
    <div class="container-fluid">
      <div class="container ">
        <div class="row row-cols-5 footer-widget-card">
          <div class="col">
            <div class="footer-widget-item text-c">
              <div>
                <img src="../../../assets/images/logos/footer-logo.svg" alt="">
              </div>
                <ul>
                  <li><a></a></li>
                  <li><a></a></li>
                  <li><a></a></li>
                  <li><a></a></li>
                  <li><a></a></li>
                </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-widget-item">
              <div class="ml-5">
                <div class="footer-widget-heading">
                  <h3>Our Company</h3>
                </div>
                <ul class="list-group-flush">
                  <li class="list-group-item">Blogs</li>
                  <li class="list-group-item">About us</li>
                  <li class="list-group-item">Careers</li>
                  <li class="list-group-item">Portfolio</li>
                  <li class="list-group-item">Customer Stories</li>
                </ul>
               </div>
              </div>
          </div>
          <div class="col">
            <div class="footer-widget-item">
              <div class="footer-widget-heading">
                <h3>Services</h3>
              </div>
              <ul class="list-group-flush">
                <li class="list-group-item">Mobile App Development</li>
                <li class="list-group-item">Web App Development</li>
                <li class="list-group-item">Product Development</li>
                <li class="list-group-item">Migration Services</li>
                <li class="list-group-item">Staffing Services</li>
                <li class="list-group-item">Outsourcing Services</li>
              </ul>
             </div>
          </div>
          <div class="col">
            <div class="footer-widget-item">
              <div class="footer-widget-heading">
                <h3>For Education</h3>
              </div>

              <ul class="list-group-flush">
                <li class="list-group-item">Corporate Learning Solutions</li>
              </ul>
             </div>
          </div>
          <div class="col">
            <div class="footer-widget-item">
              <div class="footer-widget-heading">
                <h3>Certified</h3>
              </div>
              <div class="row row-cols-2 certified-logo">
                <div class="col-6">
                  <img src="../../../assets/images/logos/footer-logo-1.svg" alt="">
                </div>
                <div class="col-6">
                  <img src="../../../assets/images/logos/footer-logo-2.svg" alt="">

                </div>
                <div class="col-6">
                  <img src="../../../assets/images/logos/footer-logo-3.svg" alt="">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     <div class="copy-widget">
      <div class="d-flex container copy-widget-item">
        <div class="copy-writes ">
          <p>&copy; Copyright 2023 Abilio IT Solutions. All rights reserved</p>
        </div>
       <div class="d-flex ml-auto align-items-center">
        <p class="me-4">Terms and Conditions</p>
        <p> Privacy Policy</p>
        <!-- <img src="../../../assets/images/logos/tech-partner.svg" alt=""> -->
       </div>
      </div>
     </div>
    </div>

</footer>
