<main class="home-content">
  <div class="container">
    <div class="row ">
      <div class="col-6" >
        <div class="home-left" id="hero-section" [class.show]="showSection">
          <img src="../../assets/images/logos/rating.svg" alt="">
          <p class="rating-text">Trusted by 100+ companies around the world</p>
          <div class="home-heading ">
            <h1 class="my-element">Unlock Your Potential, Discover Success Strategies That Work!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit et ut massa libero egestas malesuada viverra.</p>
          </div>
          <div class="d-inline-flex btn-group">
              <a class="common-btn-1" routerLink="contact-us">Get in Touch</a>
              <a class="solutions-btn" routerLink="services">Solutions</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="image-container">
          <div class="image-item">
            <img src="../../assets/images/card-img/home-img-1.svg" alt="" class="img-1">
          </div>
          <div class="image-item">
            <img src="../../assets/images/card-img/home-img-2.svg" alt="" class="img-2">
          </div>
          <div class="image-item">
            <img src="../../assets/images/card-img/home-img-3.svg" alt="" class="img-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-success-story></app-success-story>

<app-solutions></app-solutions>

<app-proud-moment></app-proud-moment>

<app-clients-feedback></app-clients-feedback>

<app-experience-working></app-experience-working>
